.modal-confirm {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 200; /* Sit on top */
	padding-top: 15%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
	text-align: center;

	.confirmation-modal_modal-content {
		background-color: $color-black;
		margin: auto;
		padding: 20px;
		border: 1px solid $color-mint;
		width: 30%;
	}
}
