.editUser {
	display: none;
}

.confirmModifications {
	display: none;
}

.modifyPassword {
	display: none;
}

.editUser_paragraph-alertNoModifs {
	display: none;
}

.editUser_paragraph-modifyPassword {
	color: $color-purple;
	font-size: $text-m;
	font-weight: 600;
	padding: 1.5rem 0;

	&:hover {
		cursor: pointer;
	}

	&::before {
		content: url("assets/images/lock-icon.png");
	}
}

.editUser_paragraph-alertNoModifs {
	padding-bottom: 1.5rem;
	font-size: $text-xss;
	font-weight: 600;
}

.editUser_select {
	width: 70%;
	padding: 0.5rem 0.5rem;
}

.confirmModifications_paragraph-alertWrongPass {
	display: none;
}

.modifyPassword_paragraph-alert {
	display: none;
	padding-bottom: 1.5rem;
	font-size: $text-xss;
	font-weight: 600;
}
