.editUser {
  display: none;
  .button {
    margin-top: 3rem;
  }
  .button-small {
    margin-top: 3rem;
  }
}

.confirmModifications {
  display: none;
}

.modifyPassword {
  display: none;
}

.editUser_paragraph-alertNoModifs {
  display: none;
}

.editUser_paragraph-modifyPassword {
  color: $color-purple;
  font-size: 3rem;
  font-weight: 300;
  padding: 1.5rem 0;
  text-transform: lowercase;

  &:hover {
    cursor: pointer;
  }

  img {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    transform: translateY(0.5rem);
  }
}

.editUser_paragraph-alertNoModifs {
  padding-bottom: 1.5rem;
  font-size: $text-xxs;
  font-weight: 600;
}

.editUser_select {
  width: 70%;
  padding: 0.5rem 0.5rem;
}

.confirmModifications_paragraph-alertWrongPass {
  display: none;
}

.modifyPassword_paragraph-alert {
  display: none;
  padding-bottom: 1.5rem;
  font-size: $text-xxs;
  font-weight: 600;
}
