.editUser {
	display: none;
}

.confirmModifications {
	display: none;
}

.modifyPassword {
	display: none;
}

.editUser_paragraph-alertNoModifs {
	display: none;
}

.confirmModifications_paragraph-alertWrongPass {
	display: none;
}

.modifyPassword_paragraph-alertWrongPass {
	display: none;
}

.modifyPassword_paragraph-alertNoMatch {
	display: none;
}
