#game {
  width: 55vw;
  height: 500px;
  background: #000;

  position: absolute;
  right: ((100vw - $slider-size) - 55vw) / 2;
  top: 50%;

  transform: translateY(-50%) translateX(100vw);
  animation: gameIn 0.6s ease-in 3.5s forwards;

  z-index: 20;
}
