.app {
  position: relative;
  height: 100%;

  &_hands {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-user {
      justify-self: center;
    }
    &-pc {
      justify-self: center;
      .pchimg img {
        transform: rotateY(180deg);
      }
    }
  }
}
