.nav {
  width: $slider-size;
  padding: $margin;
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
  align-items: start;

  transform: translateX(-100vw);
  animation: menuIn 0.4s ease-in 3s forwards;

  z-index: 100;

  &_menu {
    width: 3.5rem;
    height: 3.5rem;
  }

  &_logo {
    justify-self: center;
    width: 10rem;
    height: 10rem;
  }

  &_user {
    justify-self: right;
    width: 3.5rem;
    height: 3.5rem;
  }
}
