.slider {
  width: 100vw;
  height: 100vh;
  background: rgba($color-black, 0.8);

  display: grid;
  grid-template-columns: 1fr $slider-size;
  grid-gap: $margin;

  transform: translateX(-100vw);
  animation: sliderIn 0.4s ease-in-out 3s forwards;

  z-index: 30;

  @include tablet {
    width: auto;
    height: auto;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh max-content;
    animation: none;
    transform: translateX(0);
  }

  @include landscape {
    display: none;
  }

  &_left {
    margin-top: 7rem;
    padding: $margin;

    display: grid;
    place-items: center;
    grid-template-rows: max-content 1fr;

    @include tablet {
      grid-row: 2/-1;
      padding: 0;
      margin-top: -12rem;
    }

    &-facts {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      place-items: center;

      @include tablet {
        grid-template-columns: 100vw;
      }

      .box {
        height: 100%;
        background: rgba($color-black, 0.5);
        padding: 2.5rem;

        @include tablet {
          background: rgba($color-black, 0.4);
          width: 80%;
          margin: auto;
        }

        &_icon {
          width: 8rem;
          height: 8rem;
          margin: auto;
          margin-bottom: 1rem;
        }
      }
    }

    &-ratings {
      width: 100%;
      height: 100%;

      display: grid;

      @include tablet {
        padding-top: 10rem;
        padding-bottom: 5rem;
      }

      .ratings_overall {
        width: 33rem;
        align-self: end;
        justify-self: center;

        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        grid-gap: 2rem;
        place-items: center;

        &-h2 {
          justify-self: left;
        }

        &-border {
          width: 2px;
          height: 2.8rem;
          background: $color-purple;
        }

        h3 {
          padding-top: 1rem;
          font-size: $text-m;

          &:first-child {
            justify-self: right;
          }
        }

        .star {
          display: inline-block;
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      .ratings_reviews {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        place-items: center;

        @include tablet {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, min-content);
          grid-gap: 1rem;
        }
      }
    }
  }

  &_right {
    display: grid;
    align-self: center;

    @include tablet {
      grid-row: 1/2;
    }

    &-heading {
      position: relative;
      padding: 1rem;
      margin-left: 1rem;
      justify-self: right;

      border-left: 2px solid $color-purple;

      h1 {
        position: relative;
        color: #5dfdcb;

        animation: bg-anim-text 4s linear infinite;
        animation-delay: calc(2s + 4s * 0.2);
      }
    }

    &-button {
      margin-top: 6rem;

      .turn {
        display: none;
        @include tablet {
          width: 80%;
          margin: auto;

          display: grid;
          grid-template-columns: 1fr 3fr;

          &_heading {
            color: $color-purple !important;
          }

          span {
            color: $color-mint;
          }
        }
      }

      button {
        @include tablet {
          display: none;
        }
      }
    }
  }
}
