.slider {
  width: 100vw;
  height: 100vh;
  background: rgba($color-black, 0.8);

  display: grid;
  grid-template-columns: 1fr $slider-size;
  grid-gap: $margin;

  transform: translateX(-100vw);
  animation: sliderIn 0.4s ease-in 3s forwards;

  z-index: 30;

  &_left {
    margin-top: 7rem;
    padding: $margin;

    display: grid;
    place-items: center;
    grid-template-rows: max-content 1fr;

    &-facts {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      place-items: center;

      .box {
        height: 100%;
        background: rgba($color-white, 0.07);
        padding: 2.5rem;

        &_icon {
          width: 8rem;
          height: 8rem;
          margin: auto;
          margin-bottom: 1rem;
        }
      }
    }

    &-ratings {
      width: 100%;
      height: 100%;

      display: grid;

      .ratings_overall {
        width: 33rem;
        align-self: end;
        justify-self: center;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;

        &-border {
          width: 2px;
          height: 2.8rem;
          background: $color-purple;
        }

        h3 {
          padding-top: 1rem;

          &:first-child {
            justify-self: right;
          }
        }

        .star {
          display: inline-block;
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      .ratings_reviews {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        place-items: center;
      }
    }
  }

  &_right {
    display: grid;
    align-self: center;

    &-heading {
      position: relative;
      padding: 1rem;
      margin-left: 1rem;
      justify-self: right;

      border-left: 2px solid $color-purple;

      h1 {
        position: relative;
        color: #5dfdcb;

        animation: bg-anim-text 4s linear infinite;
        animation-delay: calc(2s + 4s * 0.2);
      }
    }

    &-button {
      margin-top: 6rem;
    }
  }
}
