html {
  --color-primary: #f99419;
  --color-secondary: #8c5dda;
}

html[data-attribute="pink"] {
  --color-primary: #fffc31;
  --color-secondary: #5c415d;
}

html[data-attribute="violet"] {
  --color-primary: #47c8ff;
  --color-secondary: #da5d5d;
}

html[data-attribute="red"] {
  --color-primary: #ff84e8;
  --color-secondary: #702b62;
}

#game {
  width: 55vw;
  height: 500px;

  position: absolute;
  right: ((100vw - $slider-size) - 55vw) / 2;
  top: 50%;

  color: var(--color-primary);

  transform: translateY(-50%) translateX(100vw);
  animation: gameIn 0.6s ease-in 3.5s forwards;

  // transform: translateY(-50%) translateX(0);

  @include small-desk {
    right: 1vw;
    width: 66vw;
  }

  @include tablet {
    display: none;
  }

  @include landscape {
    width: auto;
    height: 100vh;

    position: relative;
    right: 0;
    overflow: hidden;

    transform: translateY(0) translateX(0);
    animation: none;
  }
}

.app {
  position: relative;
  height: 100%;

  &_hands {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12rem;
    &-user {
      justify-self: center;
      .userhimg img {
        transform: rotateY(180deg);
      }
    }
    &-pc {
      justify-self: center;
    }
  }
}

h3.pch {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
}
h3.userh {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
}
