.app_options {
  width: 100%;
  height: 10rem;
  padding: 15px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 10px;
  button {
    background: transparent;
    border: 2px solid $game-purple;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }
  svg {
    width: 70%;
    height: auto;
    margin: auto;
  }
  .spock svg {
    width: 50%;
    height: auto;
    margin: auto;
  }
  &-svg {
    fill: $game-orange;
  }
}
