.app_player {
  display: none;

  position: absolute;
  top: 4%;
  left: 2%;

  text-align: center;

  &-avatar {
    display: block;
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;

    border-radius: 50%;
    border: 2px solid var(--color-secondary);
  }

  &-name {
    font-size: $text-xs;
    font-weight: 400;
  }

  &-coins {
    border-top: 1px solid var(--color-secondary);
    color: var(--color-primary);
  }
}
