.handsimg {
  width: 200px;
}

.app-bet {
  visibility: hidden;
  position: relative;

  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: var(--color-primary);

  z-index: 20;
}

.app_result {
  position: relative;
  visibility: hidden;

  margin-top: 3rem;

  text-align: center;
  font-size: 3rem;
  color: $color-mint;

  z-index: 20;
}
