.app_wins {
  width: 50%;
  margin: auto;

  display: grid;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  color: $game-orange;
  img {
    width: 100%;
  }

  span {
    display: block;
    margin-top: -1.5rem;
    font-size: $text-xs;
  }
}
