body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: $color-white;
}

.heading-primary {
  font-size: $text-xl;
  color: $color-mint;
}

.heading-secondary {
  font-size: $text-s;
  font-weight: 600;
  color: $color-mint;
}

.heading-tertiary {
  font-size: $text-m;
}

.paragraph {
  font-size: $text-s;
}

.text-link {
  &,
  &:link,
  &:visited {
    font-size: $text-l;
    color: $color-mint;

    text-decoration: none;
    border: none;
    cursor: pointer;
  }
}
